body {
    background-color: lightgray;
}

.titulo-cli {
    text-align:center;
    font-weight:bold;
    margin-bottom:25px;
}

form {
    text-align: center;
}

.input-group{
    margin-bottom:10px;
}

input {
    margin-bottom:15px;
}

form .form-control {
    color:black;
    font-weight:bold;
    margin-bottom: 10px;
    text-align: center;
}

.btn-primary {
    background: silver;
    border-radius:20px;
    border: 2px double black;
    color: black;
    font-weight: bold;
}

.btn-primary:hover {
    scale: 1.1;
    background: silver;
    border: 2px double black;
    color: black;
}