body {
    
}

#b1 {
    z-index:1;
    background-color: rgb(85, 85, 85);
    color: white;
    font-weight: bold;
}

#b1 a{
    color:#151515;
}

.principal {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.principal .infos {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color:black;
    font-weight:bold;
}

.principal .infos h1 {
    color: #f5f5f5;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.principal .infos h2 {
    color: #f4f4f4;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

#homeli{
    font-size:1.2rem;
    margin-bottom:4px;
    color:#151515;
}

#pfooter{
    font-size:1.2rem;
    font-weight:bold;
    color:goldenrod;
}

#btnlogin {
    margin-top:10px;
    border: 2px solid rgb(50 50 50);
    background-color: rgba(255 255 255 / 0.1);
    border-radius: 5px;
    color: #f3f3f3;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    font-weight: bold;
}

#btnlogin:hover{
    scale:1.1;
}