body {
    background:linear-gradient(90deg, #666f86 0%, #4d5364 100%);
}

.botoes {
    margin-top: 30px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    overflow:visible;
}

.botoes p {
    margin-right: 2%;
    margin-left: 2%;
}

.tabela{
    width:100%;
    height: 5vh;
}

.tabela, th, td {
    border: 3px double black;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: linear-gradient(90deg, #7b85aa 0%, #8995b7 100%);
    color: black;
    font-weight: bold;
}

.btn-warning {
    border-radius: 15px;
    background-color: rgb(255 195 0);
    color: black;
    font-weight: bold;
}

.btn-warning:hover {
    scale: 1.1;
}

.btn-danger {
    border-radius:15px;
    background-color:rgb(211, 17, 17);
    color:black;
    font-weight:bold;
}

.btn-danger:hover {
    scale: 1.1;
    color:black;
}

.btn-primary {
    background: linear-gradient(90deg, #a8b0cc 0%, #8796c2 100%);
    border-radius: 20px;
    border: 2px double black;
    color: black;
    font-weight: bold;
}

.btn-primary:hover {
    scale: 1.1;
    background: linear-gradient(90deg, #919dc6 0%, #576387 100%);
    border: 2px double black;
    color: black;
}

fieldset {
    border:3px double black;
}

h1 {
    text-align: center;
    color: #919dc6  ;
}