@{
    ViewData["Title"] = "Cadastro Usuário";
}

<link href="~/css/cadastroUsuario.css" rel="stylesheet" />

<body>
    <div class="formcadastro">
        <div class="card">
            <img src="~/img/imgLogCadSmall.jpg" />
            <div class="card-body">
                <h2 class="card-title">Cadastro</h2>
                <form asp-action="Cadastro" method="post">
                    <div class="input-group">
                        <input type="text" name="nome" placeholder="Nome" maxlength="50" required autofocus/>
                    </div>
                    <div class="input-group">
                        <input type="email" name="email" placeholder="Email" maxlength="50" required />
                    </div>
                    <div class="input-group">
                        <input type="password" name="senha" placeholder="Senha" maxlength="50" required />
                    </div>
                    <button type="submit" class="btn-cadastro">Cadastrar</button>
                    <p class="possui-conta">Já possui conta? <a asp-area="" asp-controller="Usuario" asp-action="Login">Entre aqui</a></p>
                </form>
            </div>
        </div>
    </div>
</body>